%h1 Listing advertisements
%table.table.table-striped
  %tr
    %th Title
    %th Content
    %th Width
    %th Height
    %th Is active
    %th
    %th
    %th
  - @advertisements.each do |advertisement|
    %tr
      %td= advertisement.title
      %td= advertisement.content
      %td= advertisement.width
      %td= advertisement.height
      %td= advertisement.is_active
      %td= link_to 'Show', advertisement
      %td= link_to 'Edit', edit_advertisement_path(advertisement)
      %td= link_to 'Destroy', advertisement, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Advertisement', new_advertisement_path